/* -----------========custom css ===========--------  */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    transition:  ease-in-out;
}
:root{

    /*color */
    ---white-color: #ffffff;
    ---nav-color: #f5f7f9;
    ---black-color: #000000;
    ---header-text-color: #000000a6;
    ---text-color:#333333;

    ---blue:#1e73be;
    ---green:#81D742;
    ---orange: #CE592F;
    ---deep-orange: #AA7627;
    --purple: #CE25E8;
   
    /* font  */
   
    --font-h1: 66px;
    ---font-h2: 42px;
    --font-h3: 26px;
    --font-h4:20px;
    --font-h5: 18px;
    
    --font-a:14px;
    ---font-15: 15px;
    ---font-p: 16px;
    --font-13: 13px;
    --footer-font-nav:22px;
    /* more fontsize  */
    
    
    
}
*:before, 
*:after {
    box-sizing: border-box;
}
img{
    max-width: 100%;
    height: auto;
    
}
a{
    cursor: pointer;
}

html{
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
}
body{
    font-family: "Lato", sans-serif;
    width: 100%;
    height: auto;
}
/* ------============main css ==============------  */
.container{
    width: 100%;
    padding: 2% 7%;
}

/* ----------------header start here---------------------  */
header{
    width: 100%;
    height: auto;
    
}

.head{
    width: 100%;
    background-color: #aab1c718;
    margin:  0 auto;
    padding: 1.8rem 2.5rem;
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 1; 
    backdrop-filter: blur(2px);
}
.head .logo img{
    width: 130px;
    height: auto; 
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin:  0 auto;
    padding: 0 2rem;
}
nav .left a, 
nav .right a{
    color: var(---nav-color);
    text-transform: uppercase;
    font-size: var(---font-15);
    font-weight: 500;
    margin: 0 13px;
    transition: 0.3s ease;

}
nav a:hover, .mobile a:hover{
    color: #ffffffad;
}
nav .right a span{
    font-weight: 700;
}
nav .right .up::before{
    content: '0';
    position: absolute;
    width: 17px;
    height: 17px;
    top: 35px;
    margin-left: 10px;
    border-radius: 50%;
    padding-left: 4px;
    background-color:#fff;
    color: #000;
    font-size: 13px;
    
}

/* index background image  */
.bg-color{
    background: url(image/home-new-bg-free-img.jpg) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    height: 120vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.bg-color::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
}

.content {
   position: absolute;
   top: 30%;
}
.content h1{
    font-size: var(--font-h1);
    color: #ffff;
    font-weight: 600;
    line-height: 90px;
    width: 600px;
    margin-bottom: 30px;
}
.content h3{
    font-size: var(--font-h3);
    line-height: 50px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 20px;
}
/* --- contact background image  */
.contactbg{
    background: url(image/banner-06.jpg) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    

}
.contactbg::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 255, 0.151), rgba(78, 5, 5, 0.26));
    
}
/* ---- about background image---  */
.aboutbg{
    background: url(image/banner-04.jpg) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.aboutbg::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 255, 0.151), rgba(78, 5, 5, 0.26));
    
}



.buttons a{
    cursor: pointer;
    padding: 15px 28px;
    display: inline-block;
    text-align: center;
    width: 140px;
    color: #000;
    text-transform: uppercase;
    font-size: var(--font-13);
    font-weight: 600;
    outline: none;
    background-color: #154D60;
    border: 1px solid #fff;
    transition: 0.4s;
    
}
#btn-1, #btn-2:hover{
    background-color: #fff;
    color: #000;
    
}
#btn-1:hover{
    background-color: #000;
    color: #fff;
    border: 1px solid  #154D60;
}
#btn-2{
    color: #fff;
    margin-left: 20px;
}

/* ----mobile menu-----  */
.nav{
    display: none;
    text-align: center;
    position: absolute;
    top: -100vh;
    left: 0;
    right: 0;
    background: linear-gradient(#0c373ff5  98.5%, #ffffff41 1.5% );
    backdrop-filter: blur(15px);
    height: 98vh;
    width: 100%;
    border-bottom: 1px solid rgb(27, 135, 197);
    border-radius: 0 0 30px 30px;
}

.mobile a{
    color: #fff;
    text-transform: capitalize;
    font-size: var(--font-h3);
    font-weight: 600;
    padding: 10px;
    margin: 10px 0;
    display: block;
    transition: all 0.5s;
}
.mobile .mobile-logo{
    text-align: left;
    width: 100px;
    margin-top: 25px;
    margin-left: 40px;

}
.menu-icon{
    display: none;
    transition: 0.4s;
}
.menu-icon i:hover{
    font-size:19px ;
}
.menu-icon i{
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    background-color: #154D60;
    padding: 8px;
    transition: 0.4s;
    border-radius: 50%;
    backdrop-filter: blur(5px);
}

.menu-icon .close{
    display: none;
    
}

.user{
    display: flex;
    justify-content: center;
    gap: 30px;
    
   
}
.user a{
    background-color: #aa762762;
    border-radius: 50%;
    padding: 10px 15px;
    transition: 0.6s;
    border: 1px solid transparent
}


.user a:hover{
    background-color: #aa7627f3;
    border: 2px solid #fff

}
/* ---==============header ends here ==============-------  */
/* ---=============== footer start here =============--  */
footer{
    width: 100%;
    height: auto;
   
}
.footer-container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin: 0 auto;
    
    gap: 20px;
    margin: 4% 0;
    
}
.footer-card {
    max-width: 100%;
    height: auto;
    padding: 5px;
    
    flex-direction: row;
    justify-content: flex-start;
    align-items: start;
     
}
.footer-card img{
    margin-top: 35px;
}
.footer-card h3{
    font-size: var(--font-h3);
    margin-top: 50px;
    font-weight: 600;
    width: 400px;
    color: var(---black-color);
}
.footer-card .footer-content-container{
    display: flex;
    justify-content: space-between;
   
    gap: 30px;
}
.footer-card .footer-content{
    display: flex; 
    flex-direction: column;
}
.font-txt{
    font-size: var(--footer-font-nav);
    text-transform: capitalize;
    color: var(---black-color);
    margin: 30px 26px;
    text-align: left;
}
.footer-content .footer-link{
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 10px;
    margin: 0 26px;
}
.footer-link a{
    cursor: pointer;
    text-transform: capitalize;
    font-size: var(--font-h5);
    font-weight: 500;
    text-align: left;
    color: var(---text-color);
    opacity: 0.8;
    transition: 0.4s;
}
.footer-link a:hover{
    color: var(---blue);
    opacity: 1;
}
.footer-card .footer-input{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
}
.footer-input input{
    padding: 12px 15px;
    width: 220px;
    outline: none;
    border: 1px solid #00000031;
    border-radius: 2px;
    
}
.footer-input input:focus{
    border-color: #aa762770;
}
.footer-input input::placeholder{
    color: var(---text-color);
    opacity: 0.5;
    font-size: var(---font-15);
}
button{
    padding:12px 30px ;
    text-transform: uppercase;
    font-size: var(---font-15);
    font-weight: 500;
    background-color: #1e73be;
    color: #fff;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 2px;
    transition: 0.4s ease;
}
button:hover{
    background-color: #1583e4f5;
}
.copyright{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.copyright p{
    font-size: var(--font-13);
    font-weight: 500;
    color: var(---text-color);
}
.copyright .social{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.social a{
    display: block;
    cursor: pointer;
    padding: 5px;
    
}
.social a i{
    color: #000;
    font-size: 18px;
    transition: 0.4s;
}
.social a i:hover{
    color: var(---blue);
}




